<div id="userName">Conectado como <%= current_nickname %>. <%= link_to "Salir", inicios_path, :method => :delete, :confirm => "De verdad deseas salir de este maravilloso chat?" %></div>
<div id="atras"><%= link_to "Atras", pages_path %></div>
<br /><br /><br />

<h1><center>Sala Cocina</center></h1>

<div id="onlineUsers">
  <strong>Usuarios Online</strong> <br />
  <% get_online_users.each do |name| %>
      <%= name %><br />
  <% end %>
</div>
<ul id="chat">
  <%= render @cocinas %>
</ul>

<div id="newMsg">
    <%= form_for Cocina.new, :remote => true do |f| %>
      <%= f.text_field :content, :size => 50, :maxlength => 160, :minlength => 2 %>
      <%= f.submit "Send" %>
    <% end %>
</div>
